@import "../../scss/variables";

nav {
    width: 30%;
    margin-top: 40px;
   
    

    li {
        width: 100%;
        padding: 10px;
        border: none;
        text-align: center;
        transition: all .5s;
        
        

        a {
            background-color: $darkPurple !important;
            color: $lightColor !important;
            border-radius: 20px !important;
            

            &:active {
                background-color: $midDarkPurple !important;

            }

             &:focus {
                 background-color: $midDarkPurple !important;
             }
        }

        &:hover {
            transform: scale(1.2);
            transition: all .8s;
            
        }


    }
}